*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.con{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  
}
.sec1{
    
    width: 100%;  
    height: 50vh;
    background-image: radial-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)) ,url(pokemon2.jpg);
    background-position: center;
    
}

.bg{
    width: 100%;  
    height: 40vh;
    background-image: radial-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)) ,url(pokemon1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 50px;
}
.header{
    padding: 1rem;
    display: flex;
    justify-content: end;
    padding-top: 40vh;
    padding-right: 10vh; 
}


a{
    color: white;
    text-decoration: none;
    padding-right: 2rem;
}

.wow{
    color: black;
    font-family: sans-serif;
    padding-bottom: 50px;
}

.sec2{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box{
    width: 450px;
    text-align: center;
}

h2{
    padding-top: 10px;
    padding-bottom: 2rem;
    color: rgb(53, 9, 9);
}

p{
    padding-bottom: 2rem;
    line-height: 30px;
    font-size: larger;
}

.nbox{
    width: 60%;
    border: 1px solid black;
    
}

.sec3{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px);
    gap: 10px;
    padding: 2rem;
    border: 1px solid black;
    
    
}
.box1{
    display: flex;
}

.newbox{
    padding-right: 30px;
    padding-left: 10px;
    border: 1px solid black;
}

img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.yes{
    padding-top: 1rem;
    color: gray;
}


.container{
    display: flex;
}

button{
    padding: 0.7  1rem;
    border: 1px solid rgb(25, 27, 25);
    margin-right: 10px;
    color: rgb(5, 54, 5);
    background-color: white;
    transition: 0.5s ease-in-out;
    width: 100px;
    height: 50px;
    
} 

    .orme{
        padding: 2rem;
        padding-bottom: 2rem;
        line-height: 30px;
        font-size: larger;
    }
    
    .d-new{

        margin-top: 100px;

       
    }
    
    .n-new{
        background-color: transparent;
        margin-left: 100px;
        border: 1px solid gray;

        
    }
    .n-new:hover{
        background-color: gray;
    }

.sec4{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px);
    margin: 50px;
    margin-right: 50px;

}


.sp-name{
    padding: 10px;
    padding-left:50px;
}

.d-new{
    color: gray;
    text-align: justify;
    font-size:large;
    width: 80%;

}

.n-new{
    background-color: transparent;
    border: 1px solid gray;
    
}
.n-new:hover{
    background-color: gray;
}

h1{
    color: rgb(39, 102, 127);
    padding-bottom: 10px;
    font-family:  serif;

}
.pokemon {
    width: 100%;
    height: 100%;
}

@media(max-width: 1025px){
    .sec3{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(300px);
    }

}

@media(max-width: 500px){
    .sec3{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(300px);
    }

    .sec4{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(300px);
        padding: 1rem;
    }
}



