*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.con{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  
}
.sec1{
    
    width: 100%;  
    height: 50vh;
    background-image: radial-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)) ,url(pokemon2.jpg);
    background-position: center;
    
}

.bg{
    width: 100%;  
    height: 40vh;
    background-image: radial-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)) ,url(pokemon1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 50px;
}
.header{
    padding: 1rem;
    display: flex;
    justify-content: end;
    padding-top: 40vh;
    padding-right: 10vh; 
}


a{
    color: white;
    text-decoration: none;
    padding-right: 2rem;
}

.wow{
    color: black;
    font-family: sans-serif;
    padding-bottom: 50px;
}

.sec2{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box{
    width: 450px;
    text-align: center;
}

h2{
    padding-top: 10px;
    padding-bottom: 2rem;
    color: rgb(53, 9, 9);
}

p{
    padding-bottom: 2rem;
    line-height: 30px;
    font-size: larger;
}

.nbox{
    width: 60%;
    
}
.sec3{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}





.section-b {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px;

}
.boxes {
    width: 70%;
    border-left: 1px solid gray;
    transition: 0.3s ease-in-out;
    border-right: 1px solid gray;
}
input {
    width: 60%;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    margin-top: 20px;
}
input::placeholder {
    font-size: 20px;
}
textarea {
    width: 60%;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}
textarea::placeholder {
    padding: 15px;
    font-size: 20px;
}
.send {
    width: 100px;
    height: 40px;
    margin-top: 40px;
    margin-left: 350px;
    border: 1px solid;
    border-color:  green;
    background-color: white;
    color:  green;
    transition: 0.3s ease-in-out;
}
.send:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}
.add {
    color: rgb(1, 108, 1);
    padding-top: 15px;
    font-size: 30px;
    margin-left: 35px;
}
.twooo {
    width: 70%;
}
.adddesc {
    width: 60%;
    line-height: 25px;
    margin-left: 35px;

}
.sub {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.a {
    margin-top: 70px;

}
.section-c {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    padding: 100px;
    margin-bottom: 20px;
    align-items: center;
    transition:0.3s ease-in-out;
}